<link rel="stylesheet" href="assets/css/components/footer.css">

<footer>

	<mat-toolbar class="footer contact">
		<a href="mailto:{{site.email}}">{{site.email}}</a>
	</mat-toolbar>
	<mat-toolbar class="footer">
		<a href="https://www.facebook.com/the.vishal.pandey"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
		<a href="https://github.com/{{site.github_username}}"><i class="fa fa-github" aria-hidden="true"></i></a>
		<a href="https://twitter.com/{{site.twitter_username}}"><i class="fa fa-twitter" aria-hidden="true"></i></a>
		<a href="https://www.linkedin.com/in/thevishalpandey/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
		<a href="https://vishalpandey.quora.com/"><i class="fa fa-quora" aria-hidden="true"></i></a>
		<a href="https://stackoverflow.com/users/7626313/vishal-pandey"><i class="fa fa-stack-overflow" aria-hidden="true"></i></a>
		<a href="https://plus.google.com/u/0/109712308677416674874"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
	</mat-toolbar>
	<mat-toolbar class="footer sitemap">
		{% for item in site.data.menu %}
            <a href="{{item.link}}" target="{{item.target}}">{{item.title}}</a>
        {% endfor %}
	</mat-toolbar>
</footer>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
	var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
	(function(){
	var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
	s1.async=true;
	s1.src='https://embed.tawk.to/60e87a59649e0a0a5ccb690c/1fa61rrhn';
	s1.charset='UTF-8';
	s1.setAttribute('crossorigin','*');
	s0.parentNode.insertBefore(s1,s0);
	})();
	</script>
	<!--End of Tawk.to Script-->