<link rel="stylesheet" href="assets/css/components/footer-mac.css">
<section class="dock">
    <span class="icon">
        <img src="/assets/icons/Finder.png">
        <b class="dot"></b>
    </span>
    <span class="icon">
        <img src="/assets/icons/Mail.png">
        <b></b>
    </span>
    <span class="icon">
        <img src="/assets/icons/Photos.png">
        <b></b>
    </span>
    <span class="icon">
        <img src="/assets/icons/Terminal.png">
        <b class="dot"></b>
    </span>
</section>