<link rel="stylesheet" href="assets/css/components/header-mobile.css">

<section class="header">
	<span class="logo">
		<a href="/"><h1><span class="avatar"></span></h1></a>
		<a href="/"><h1>{{site.title}}</h1></a>
	</span>
    <span class="menu">
        <a href="#" class="menu-button"><i class="fa fa-bars" aria-hidden="true" style="font-size: 25px;"></i></a>
    </span>
</section>

<section class="mobile-menu">
    <a href="#" class="menu-close"><i class="fa fa-close" aria-hidden="true" style="font-size: 25px;"></i></a>
    <div class="content">
        {% for item in site.data.menu %}
            <a href="{{item.link}}" target="{{item.target}}">{{item.title}}</a>
        {% endfor %}
    </div>
</section>

<script>
    let menuOpenButton = document.querySelector(".menu-button");
    let menuCloseButton = document.querySelector(".menu-close");
    let mobileMenuContainer = document.querySelector(".mobile-menu");
    
    menuOpenButton.onclick = ()=> {
        mobileMenuContainer.style.display = "block"
    }

    menuCloseButton.onclick = ()=> {
        mobileMenuContainer.style.display = "none"
    }
</script>