<link rel="stylesheet" href="assets/css/components/header.css">
<section class="header">
	<span class="logo">
		<a href="/"><h1 href="/index.html"><span class="avatar"></span></h1></a>
		<a href="/"><h1 href="/index.html">{{site.title}}</h1></a>
		<div class="profile">
			<img src="https://avatars.githubusercontent.com/u/19498820" alt="{{site.title}}" width="250">
			{{site.title}}
			<a href="mail-to:{{site.email}}">{{site.email}}</a>
			<a href="https://github.com/{{site.github_username}}">github.com/{{site.github_username}}</a>
		</div>
	</span>
	<span class="menu">
		{% for item in site.data.menu %}
            <a href="{{item.link}}" target="{{item.target}}">{{item.title}}</a>
        {% endfor %}
	</span>
</section>